.App{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.App *{
  font-family: 'Roboto', 'Tajawal', sans-serif;
}

main {
  flex: 1 0 auto;
}

.googlesignin{
    display: flex;
    width: 100%;
    justify-content: center;
}
.rounded {
    margin: 30px;
    width: 30%;
    border-radius: 50%;
}

.profileImage {
  padding-top: 100px;
  padding-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.profileImage * {box-sizing: border-box}

.containerProfileImage {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}


.endLineChild{
  display: flex;
  width: 100%;
  justify-content: end;
}
.margin20{
  margin: 20px;
}

.material-icons {
  font-family:  "Material Icons";
}